body {
	font-family: sans-serif;
}

.error {
	color: red;
	font-weight: bold;
}

.winningTeam {
	background-color: pink;
	font-weight: bold;
}

.losingTeam {
	background-color: white;
	font-weight: normal;
}